.card{
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  border: 1px solid var(--gray);
  border-radius: 20px;
  width: 400px;
  height: fit-content;
  padding: 40px;
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 10px 5px 20px rgba(34, 34, 34, 0.2);
    cursor: pointer;
    scale: 1.025;
  }
}

.information_container h1{
  font-size: 40px;
  font-weight: bold;
  color: var(--color3);
}

.button {
  background-color: var(--color3);
  width:120px;
  height: 35px;
  padding: 0 10px;
  border: 1px solid var(--color2);
  border-radius: 50px;
  color: #FAF7F5;
}

.information {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.information div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.information div span{
  width: 50px;
}

.information div p {
  background-color: var(--color3);
  color: var(--white);
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 300;
}