*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-bg-color: #F4F1E9;
  --color1: #D5DF67;
  --color2: #B1D182;
  --color3: #2B463C;
}

body {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  margin: 0 50px;
}
