.profile_container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.profile_container h1 {
  color: var(--color2);
  font-size: 64px;
  font-weight: bold;
}

.profile_container div {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.profile_container h5 {
  width: 90px;
  padding: 15px 0;
  font-size: 16px;
}

.profile_container h5 span {
  font-size: 16px;
  font-weight: 400;
}

.profile_container .major {
  background-color: var(--color2);
  border-radius: 20px;
  padding: 5px 10px;
}

.profile_container .description {
  padding: 5px 10px;
  margin: 0 10px;
}